snippet tomdoc "Create a new TomDoc block"
# ${1:Public}: ${2:description}
#${3:
# ${4:parameter - description}
#}${5:
# Examples
#
#   ${6:examples go here}
#}${7:
# Returns ${8:return value}
#}
endsnippet
